{% extends 'base.html.twig' %}

{% block title %}Hello MesssageController!{% endblock %}

{% block body %}
{% set counter = 0 %}
<div class="container">
<h1><i class="fas fa-paper-plane"></i> Message Envoyés</h1>
<a class="mt-4 btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
Voir mes dossiers
</a>
{% for message in app.flashes('success') %}
    <div class="alert alert-success mt-4" role="alert">
        {{ message }}
    </div>
{% endfor %}

    <table class="table">
    <thead>
        <tr>
        <th scope="col">Destinataire</th>
        <th scope="col">Sujet</th>
        <th scope="col">Message</th>
        <th scope="col">Date</th>
        <th scope="col">Lu</th>
        <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>

    {% for message in app.user.sent %}
        {% if message.isRead %}
            {% set bold = "" %}
        {% else %}
            {% set bold = "fw-bold" %}
        {% endif %}
        {% if message.trashbin != true %}
        {%  set counter = ( counter | default(0) ) + 1 %}
            <tr>
                <th class="{{ bold }}">{{ message.recipient.email }}</th>
                <td class="{{ bold }}">{{ message.title }}</td>
                <td class="{{ bold }}">{{ message.text |slice(0,20) ~ '...' }}</td>
                <td class="{{ bold }}">{{ message.createdAt | date("d/m/Y H:m:s")  }}</td>
                <td class="{{ bold }}"></td>
                <td class="{{ bold }}">
                    <a class="btn btn-primary" href="{{ path('app_read', { id : message.id }) }}">Lire</a>
                    <a class="btn btn-primary" href="{{ path('app_delete', { id : message.id }) }}">Delete</a>
                </td>
            </tr>
        {% endif %}
    {% endfor %}
    <p class="mt-4">Vous avez envoyés {{ counter }} messages</p>
    </tbody>
    </table>



</div>
{% endblock %}
